# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_DB=gatekeepr
MYSQL_USER=
MYSQL_PASS=
MYSQL_PORT=3306

# API
GATEKEEPR_API_URL=http://localhost:3000
REDIS_URL=redis://127.0.0.1:6379
API_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
PAYLOAD_CMS_URL=http://localhost:4000
NEXT_PUBLIC_PAYLOAD_CMS_URL=http://localhost:4000

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

# Auth
BETTER_AUTH_URL=http://localhost:9999
BETTER_AUTH_SECRET=

## Github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Logger
SLACK_NEW_ACCOUNTS=
SLACK_ERRORS_SITE=
SLACK_SITE_UPGRADES=
