# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_DB=gatekeepr
MYSQL_USER=gatekeepr
MYSQL_PASS=
MYSQL_PORT=3306

# Runtime
REDIS_URL=redis://127.0.0.1:6379
MEASURE_PERFORMANCE=false

# Optional logging
SLACK_ERRORS_API=
